[package]
name = "factory"
version = "0.1.0"
edition = "2018"

[dependencies]
ic-cdk-macros = "0.5"
candid = "0.7.14"
serde = "1.0"
serde_cbor = "0.11.2"
serde_bytes = "0.11.6"
ic-kit = "0.4.4"
ic-cdk = "0.5.1"
assert-panic = "1.0.1"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
async-std = { version="1.11.0", features = ["attributes"] }
