[package]
name = "nft"
version = "0.1.0"
authors = ["Daniel Graczer <daniel@fleek.co>"]
edition = "2018"

[dependencies]
ic-kit = "0.4.4"
ic-cdk = "0.5.1"
common = {path = "../common"}
serde = { version="1.0.137", features = ["derive"] }
derive-new = "0.5"
serde_bytes = "0.11.6"
serde_cbor = "0.11.2"
cap-sdk= { git = "https://github.com/Psychedelic/cap", branch = "cap-sdk", package="cap-sdk" }
cap-std= { git = "https://github.com/Psychedelic/cap", branch = "cap-sdk", package="cap-standards", features = ["alpha-dip721"] }

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"
